<style>

body{
    font-family: sans-serif, "helvetica";
    font: helvetica;
	font-size: 15px;
	line-height: 24px;
    width: 80%;
    margin:0 auto;
    text-align: center;}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.flex-container > div {
  background-color: white;
  width: 500px;
  height: 350px;
  margin: 50px auto;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
}

.flex-container > div > p > a {
    background-color: white;
    border-style: solid;
    border-color: black;
    align-content: center;
    line-height: 50px;
    letter-spacing: 3px;
    font-size: 30px;
    color: black;

    }

/* RESPONSIVE MEDIA QUERIES */
@media screen and (max-width: 720px ) {

.flex-container {
  flex-direction: column;
}

.flex-container > div {
  width: 95%;

}
.flex-container > img {
  height: 60%;
  width: 60%;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.flex-container2 > div {
  background-color: white;
  width: 100px;
  height: 250px;
  margin: auto;
  text-align: center;
  line-height: 10px;
  font-size: 15px;
}
p > img {
  width: 90%;
}

    }

</style>
